src/Workflows/EnableContactPortal2FA-8C10677D-1584-EC11-8D21-0022483F3804.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr599_sharedcommondataserviceforapps_d0505"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "05a8b0e7-97da-4a81-bee5-0aab5a765648"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62f0a5ee-0913-4796-9119-a7df5fde3888"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pre__audits",
                  "item/pre__activity": "2FA has been enabled for this contact",
                  "item/pre__email": "@triggerOutputs()?['body/emailaddress1']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1add6f4d-98af-4c44-973a-fd0806337da0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "$filter": "emailaddress1 eq '@{triggerOutputs()?['body/emailaddress1']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "af5b4176-9a56-4c50-8ac1-b75f7d628463"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@items('Apply_to_each')?['contactid']",
                      "item/adx_identity_twofactorenabled": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "82663183-90e6-4dee-8c0d-e47513e2ae3b"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/msdyn_portaltermsagreementdate']",
                    ""
                  ]
                }
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/adx_identity_twofactorenabled']",
                  false
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "94acd4f8-da57-4f30-af24-b50dc081acb0"
          },
          "type": "If"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}