src/Workflows/EnableContactPortal2FA-8C10677D-1584-EC11-8D21-0022483F3804.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr599_sharedcommondataserviceforapps_d0505"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pre__sharedcommondataserviceforapps_4ea17"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "05a8b0e7-97da-4a81-bee5-0aab5a765648"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62f0a5ee-0913-4796-9119-a7df5fde3888"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pre__audits",
                  "item/pre__activity": "2FA has been enabled for this contact",
                  "item/pre__email": "@triggerOutputs()?['body/emailaddress1']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "af5b4176-9a56-4c50-8ac1-b75f7d628463"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@items('Apply_to_each')?['contactid']",
                      "item/adx_identity_emailaddress1confirmed": true,
                      "item/adx_identity_twofactorenabled": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Relate_rows": {
                  "runAfter": {
                    "Update_a_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "96c058ed-05b2-49ea-b7ba-039c9076f603"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "AssociateEntities",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@items('Apply_to_each')?['contactid']",
                      "associationEntityRelationship": "adx_webrole_contact",
                      "item/@odata.id": "@variables('RoleID')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "82663183-90e6-4dee-8c0d-e47513e2ae3b"
              },
              "type": "Foreach"
            },
            "List_rows_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dc5f240e-6ee6-4e7c-b08b-8ef95368c89e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_webroles"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows": {
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1add6f4d-98af-4c44-973a-fd0806337da0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "$filter": "emailaddress1 eq '@{triggerOutputs()?['body/emailaddress1']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/msdyn_portaltermsagreementdate']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/adx_identity_twofactorenabled']",
                  false
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/pre__role']",
                  "Level 3"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/emailaddress1']",
                    "sharepretest@gmail.com"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "94acd4f8-da57-4f30-af24-b50dc081acb0"
          },
          "type": "If"
        },
        "RoleName": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "870d99e5-f092-4e88-a119-d6e3d7564617"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RoleName",
                "type": "string",
                "value": "Authenticated users"
              }
            ]
          }
        },
        "RoleID": {
          "runAfter": {
            "RoleName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c723d3ff-9a23-479b-8347-ba72808ea37e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RoleID",
                "type": "string"
              }
            ]
          }
        },
        "List_rows_3": {
          "runAfter": {
            "RoleID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e661c517-2c70-4949-8f08-5b35fa92e559"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "adx_webroles",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"adx_webrole\">\n<attribute name=\"adx_webroleid\"/>\n<attribute name=\"adx_name\"/>\n<attribute name=\"createdon\"/>\n<order attribute=\"adx_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"adx_name\" operator=\"eq\" value=\"@{variables('RoleName')}\"/>\n</filter>\n</entity>\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('List_rows_3')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "15f8bd0d-6cd1-444c-b775-c406f95f89f0"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "RoleID",
                "value": "@items('Apply_to_each_2')?['@odata.id']"
              }
            }
          },
          "runAfter": {
            "List_rows_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d73c9bf-a5c9-4354-a534-256455e00df7"
          },
          "type": "Foreach"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}