src/Workflows/OLD_CreateandstartLiveEvent-2DD2E567-BF6F-EC11-8943-00224842B012.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"pre__sharedcommondataserviceforapps_42299"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f7e4d197-1499-4724-b5b2-00f52027667e"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable-rowID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable-rowID_Value_1":{"type":"any"},"Initializevariable-CourtVar_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"rowID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"CourtVar_Value":{"type":"string","description":"Enter initial value. This parameter is used as part of \"F9382ED2-35B6-4226-A3B1-82369D1BF1CA\"","x-ms-powerflows-param-ispartial":true}},"required":["Initializevariable-rowID_Value","Initializevariable-rowID_Value_1","Initializevariable-CourtVar_Value","rowID_Value","CourtVar_Value"]}}}},"actions":{"rowID":{"runAfter":{"Terminate":["Succeeded"]},"metadata":{"operationMetadataId":"01b6f2df-3e49-4ba2-bc40-82387ff5e3af"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowID","type":"string","value":"@{triggerBody()['rowID_Value']}"}]}},"DateTime":{"runAfter":{"rowID":["Succeeded"]},"metadata":{"operationMetadataId":"2de57242-d571-4179-9b39-2f1eab3b682b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateTime","type":"string","value":"@{replace(replace(replace(triggerBody()['DateTime_Value'], '/', ''), ' ', ''), ':', '')}"}]}},"CaseRef":{"runAfter":{"DateTime":["Succeeded"]},"metadata":{"operationMetadataId":"4512de37-702e-4deb-afa9-7c446b69fa62"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CaseRef","type":"string","value":"@{replace(triggerBody()['CaseRef_Value'], ' ', '_')}"}]}},"CourtVar":{"runAfter":{"CaseRef":["Succeeded"]},"metadata":{"operationMetadataId":"8d1e781d-04cc-46c1-98ce-fce8df307158"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Court","type":"string","value":"@{triggerBody()['CourtVar_Value']}session@{rand(100,999)}"}]}},"StreamStatus":{"runAfter":{"CourtVar":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"StreamStatus","type":"string","value":"Pending"}]}},"Subscription_ID":{"runAfter":{"StreamStatus":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Subscription ID","type":"string"}]}},"Resource_Group":{"runAfter":{"Subscription_ID":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Resource Group","type":"string"}]}},"Media_Service":{"runAfter":{"Resource_Group":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Media Service","type":"string"}]}},"Tenant_ID":{"runAfter":{"Media_Service":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tenant ID","type":"string"}]}},"Client_App_ID":{"runAfter":{"Tenant_ID":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client App ID","type":"string"}]}},"Client_Secret":{"runAfter":{"Client_App_ID":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client Secret","type":"string"}]}},"streamingStorageAccountName":{"runAfter":{"Client_Secret":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"streamingStorageAccountName","type":"string"}]}},"Media_Region":{"runAfter":{"streamingStorageAccountName":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MediaRegion","type":"string"}]}},"Initialize_Access_Token_Guid":{"runAfter":{"Media_Region":["Succeeded"]},"metadata":{"operationMetadataId":"3ff236d9-d336-4c3e-927b-03057342960b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccessToken","type":"string","value":"@{guid()}"}]}},"Scope":{"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"0ef5fd0e-0bc6-4bd3-b3dc-beeaf6b2f10c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"pre__recordingses","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Set_Subscription_ID":{"runAfter":{},"metadata":{"operationMetadataId":"6458924f-07de-46b8-a66f-157640f55004"},"type":"SetVariable","inputs":{"name":"Subscription ID","value":"tbc"}},"Set_Resource_Group":{"runAfter":{"Set_Subscription_ID":["Succeeded"]},"metadata":{"operationMetadataId":"bfb06b3d-5041-4941-b067-f6e96832691d"},"type":"SetVariable","inputs":{"name":"Resource Group","value":"tbc"}},"Set_Media_Service":{"runAfter":{"Set_Resource_Group":["Succeeded"]},"metadata":{"operationMetadataId":"ca826a44-02f5-40b9-a7fd-0471f02b99d8"},"type":"SetVariable","inputs":{"name":"Media Service","value":"tbc"}},"Set_Tenant_ID":{"runAfter":{"Set_Media_Service":["Succeeded"]},"metadata":{"operationMetadataId":"a83d9670-e577-4518-805f-c42ae44b0167"},"type":"SetVariable","inputs":{"name":"Tenant ID","value":"tbc"}},"Set_Client_App_ID":{"runAfter":{"Set_Tenant_ID":["Succeeded"]},"metadata":{"operationMetadataId":"dd2eeb9f-c702-4fc0-8b83-029430340d6e"},"type":"SetVariable","inputs":{"name":"Client App ID","value":"tbc"}},"Set_Client_Secret":{"runAfter":{"Set_Client_App_ID":["Succeeded"]},"metadata":{"operationMetadataId":"03bb6e83-61d2-417f-981a-ff827e830576"},"type":"SetVariable","inputs":{"name":"Client Secret","value":"tbc"}},"Set_Steaming_Storage_Account_Name":{"runAfter":{"Set_Client_Secret":["Succeeded"]},"metadata":{"operationMetadataId":"41435afd-8b49-49aa-8464-e7b7d39efca7"},"type":"SetVariable","inputs":{"name":"streamingStorageAccountName","value":"tbc"}},"Set_Media_Region":{"runAfter":{"Set_Steaming_Storage_Account_Name":["Succeeded"]},"metadata":{"operationMetadataId":"f261d997-391e-4c4b-8b92-211268913ed0"},"type":"SetVariable","inputs":{"name":"MediaRegion","value":"tbc"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"808154e6-475d-432a-8112-c88b0db3e274"},"type":"Foreach"}},"runAfter":{"Initialize_Access_Token_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"5adcf68a-1a70-4d47-ad81-27717fa679b2"},"type":"Scope"},"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"4acb50aa-fbb8-4d3b-a779-007e958146c4"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"schemaVersion":"1.0.0.0"}