src/Workflows/OLD_CheckStreamingFilesPresent-93116BC8-ED72-EC11-8943-002248070868.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"pre__sharedcommondataserviceforapps_4ea17"},"api":{"name":"shared_commondataserviceforapps"}},"shared_azureblob":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"pre__sharedazureblob_b2d2f"},"api":{"name":"shared_azureblob"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"40febb8e-ae45-476b-96fe-f66bd3d5fd48"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"rowID":{"runAfter":{},"metadata":{"operationMetadataId":"5a9f323b-85ce-49bf-bf8d-b4e2d4df3576"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowID","type":"string","value":"@{triggerBody()['rowID_Value']}"}]}},"DateTime":{"runAfter":{"rowID":["Succeeded"]},"metadata":{"operationMetadataId":"320c0df4-f1c3-45ff-b4ae-dd20135b7ead"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateTime","type":"string","value":"@{triggerBody()['DateTime_Value']}"}]}},"Court":{"runAfter":{"DateTime":["Succeeded"]},"metadata":{"operationMetadataId":"895ff492-7a3d-4c1c-a6a4-68b42f0e0735"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Court","type":"string","value":"@{triggerBody()['Court_Value']}"}]}},"Get_a_row_by_ID_(Recordings)":{"runAfter":{"Court":["Succeeded"]},"metadata":{"operationMetadataId":"4edeb324-915c-4cea-93e4-ef922c46432c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"pre__recordingses","recordId":"@variables('rowID')"},"authentication":"@parameters('$authentication')"}},"Get_a_row_by_ID_(Cases)":{"runAfter":{"Get_a_row_by_ID_(Recordings)":["Succeeded"]},"metadata":{"operationMetadataId":"aa25c107-75da-420d-8bc0-eba29af4dbd6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"pre__cases","recordId":"@variables('rowID')"},"authentication":"@parameters('$authentication')"}},"Get_Blob_Metadata_using_path_(V2)":{"runAfter":{"Get_a_row_by_ID_(Cases)":["Succeeded"]},"metadata":{"operationMetadataId":"6a601179-88b7-4e0e-adba-e604d01c94fb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob","connectionName":"shared_azureblob","operationId":"GetFileMetadataByPath_V2"},"parameters":{"dataset":"@triggerBody()['GetBlobMetadatausingpath(V2)_Storageaccountname']","path":"/asset-@{outputs('Get_a_row_by_ID_(Recordings)')?['body/pre__inputasset']}/@{variables('Court')}_@{outputs('Get_a_row_by_ID_(Cases)')?['body/pre__caseref']}_@{variables('DateTime')}.ism"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_a_row_-_No_stream_detected":{"runAfter":{"Get_Blob_Metadata_using_path_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"9d4d6801-68b4-4ac2-a5e9-688a705215c6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"pre__recordingses","recordId":"@variables('rowID')","item/pre__recordingstatus":"No stream detected"},"authentication":"@parameters('$authentication')"}},"Update_a_row_-_Stream_detected":{"runAfter":{"Update_a_row_-_No_stream_detected":["Succeeded"]},"metadata":{"operationMetadataId":"2305343f-0136-4adc-88fd-a2885cf1247e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"pre__recordingses","recordId":"@variables('rowID')","item/pre__recordingstatus":"Stream OK"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Update_a_row_-_Stream_detected":["Succeeded"]},"metadata":{"operationMetadataId":"0d756ee8-f62a-439b-b6ad-ea69fbc34678"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}}}}},"schemaVersion":"1.0.0.0"}