src/Workflows/Portal_ReqURL-0884A67E-A282-EC11-8D21-0022483F3A05.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr599_sharedcommondataserviceforapps_d0505"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_azureblob": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pre__prefinalsasboxAzureBlobConn"
        },
        "api": {
          "name": "shared_azureblob"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cea8fb97-9551-4819-b51b-c4f0603784b4"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "ScheduleID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "RecordingID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "AccountID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "UserIP": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2ea977bf-c100-4e7a-868e-c1041c6e7bd1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pre__videopermissionses",
              "$filter": "pre__recidtxt eq '@{body('Parse_JSON')?['RecordingID']}' and pre__email eq '@{body('Parse_JSON')?['AccountID']}' and pre__activeaccess eq 'True'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "799df947-4ac6-42df-af35-122d9278cb65"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "ScheduleID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "RecordingID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "AccountID": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "UserIP": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Generate_SAS_A2E": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row_2": {
              "runAfter": {
                "Create_SAS_URI_by_path_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f01febda-5460-4a6f-b528-bc11b267537d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pre__videopermissionses",
                  "recordId": "@items('Generate_SAS_A2E')?['pre__videopermissionsid']",
                  "item/pre__recordingsaslink": "@outputs('Create_SAS_URI_by_path_(V2)')?['body/WebUrl']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_SAS_URI_by_path_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5169879d-a0f1-464c-86ba-3d09bffb0f26"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azureblob",
                  "operationId": "CreateShareLinkByPath_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
                },
                "parameters": {
                  "storageAccountName": "AccountNameFromSettings",
                  "path": "/@{items('Generate_SAS_A2E')?['pre__recidtxt']}/@{outputs('Get_a_row_by_ID')?['body/pre__recordingfilename']}",
                  "policy/Permissions": "Read",
                  "policy/ExpiryTime": "@addHours(utcNow(), 8)",
                  "policy/AccessProtocol": "HttpsOnly",
                  "policy/IpAddressOrRange": "@body('Parse_JSON')?['properties']?['UserIP']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable": {
              "runAfter": {
                "Update_a_row_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e6746e24-2ede-46db-a0ff-527b3df0b0d7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SasLink",
                "value": "@outputs('Create_SAS_URI_by_path_(V2)')?['body/WebUrl']"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76fd68e8-05b2-4856-8428-f2caca32fef4"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Var_-_How_many_rows_returned": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fbe467cf-2860-44d6-bfa0-4d0a205a0951"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecordingLink",
                "type": "string",
                "value": "https://prefinalsasbox.blob.core.windows.net/@{body('Parse_JSON')?['RecordingID']}/video_2000000_1920x1080_6750.mp4"
              }
            ]
          }
        },
        "Var_-_How_many_rows_returned": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1027e6e-65d8-4809-aa75-6794454d252d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "rows",
                "type": "integer",
                "value": "@length(outputs('List_rows')?['body/value'])"
              }
            ]
          }
        },
        "List_rows_2": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e265710b-e98f-40bd-9e2d-e936cca98893"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pre__recordingses",
              "$filter": "pre__recordinguid eq '@{body('Parse_JSON')?['RecordingID']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "VAR_Rec_ID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0a720c36-e95c-4b5a-bb24-ce574e17f5eb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRecID",
                "type": "string"
              }
            ]
          }
        },
        "Get_Recording_Row_A2E": {
          "foreach": "@outputs('List_rows_2')?['body/value']",
          "actions": {
            "Get_Recording_Row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c080d0b7-f45f-44be-9b91-e18e8837b4c8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varRecID",
                "value": "@items('Get_Recording_Row_A2E')?['pre__recordingsid']"
              }
            }
          },
          "runAfter": {
            "List_rows_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9152c622-1126-4a18-839c-cb1d9959b8de"
          },
          "type": "Foreach"
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "Get_Recording_Row_A2E": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "edc6faf6-0b69-47b9-9119-e875e4d7c7da"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pre__recordingses",
              "recordId": "@variables('varRecID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Response": {
          "runAfter": {
            "Generate_SAS_A2E": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45da8c38-07bf-4e9d-98f1-9cdd37ba29a8"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "link": "@variables('SasLink')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "link": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "VAR_Rec_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "182902db-5ec4-44db-bf6e-6a20112a7ef0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SasLink",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}