src/Workflows/RemoveStreaminErroredState-8F5320BC-3B75-EC11-8943-002248070AB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pre__sharedcommondataserviceforapps_4ea17"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "AppSecret (pre__AppSecret)": {
          "defaultValue": "Jqg7Q~bs5jkRxxdPc6f1sHcYDRiHhjdDLsH7A",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppSecret"
          }
        },
        "AppSubscriptionID (pre__AppSubscriptionID)": {
          "defaultValue": "a8140a9e-f1b0-481f-a4de-09e2ee23f7ab",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppSubscriptionID"
          }
        },
        "AppMediaService (pre__AppMediaService)": {
          "defaultValue": "preamssbox",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppMediaService"
          }
        },
        "AppID (pre__AppID)": {
          "defaultValue": "07587e3c-603e-401f-98d1-ff26206e93f8",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppID"
          }
        },
        "AppTenantID (pre__AppTenantID)": {
          "defaultValue": "531ff96d-0ae9-462a-8d2d-bec7c0b42082",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppTenantID"
          }
        },
        "AppResourceGroup (pre__AppResourceGroup)": {
          "defaultValue": "pre-sbox",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppResourceGroup"
          }
        },
        "AppFinalAccountName (pre__AppFinalAccountName)": {
          "defaultValue": "prefinalsasbox",
          "type": "String",
          "metadata": {
            "schemaName": "pre__AppFinalAccountName"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5c229877-f1ef-4c9f-8d35-d4cbfc570bdf"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "RecordingID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "RecordingID",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "CaseRef",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "CaseRef",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Court",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Court",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Close_and_remove_Stream": {
          "actions": {
            "Stop_Stream": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f079c6a6-d401-406e-871f-038e8182432b"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://management.azure.com/subscriptions/@{variables('AppSubscription')}/resourceGroups/@{variables('AppResourceGroup')}/providers/Microsoft.Media/mediaservices/@{variables('AppMediaService')}/liveEvents/@{outputs('Compose_-_RecordingUID_No_Hyphen')}/stop?api-version=2020-05-01",
                "body": {
                  "removeOutputsOnStop": true
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "@parameters('AppTenantID (pre__AppTenantID)')",
                  "audience": "https://management.core.windows.net",
                  "clientId": "@parameters('AppID (pre__AppID)')",
                  "secret": "@parameters('AppSecret (pre__AppSecret)')"
                }
              }
            },
            "Remove_Stream": {
              "runAfter": {
                "Stop_Stream": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3c1f0197-aa38-44e4-90ec-df185513d917"
              },
              "type": "Http",
              "inputs": {
                "method": "DELETE",
                "uri": "https://management.azure.com/subscriptions/@{variables('AppSubscription')}/resourceGroups/@{variables('AppResourceGroup')}/providers/Microsoft.Media/mediaservices/@{variables('AppMediaService')}/liveEvents/@{outputs('Compose_-_RecordingUID_No_Hyphen')}?api-version=2020-05-01",
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "@parameters('AppTenantID (pre__AppTenantID)')",
                  "audience": "https://management.core.windows.net",
                  "clientId": "@parameters('AppID (pre__AppID)')",
                  "secret": "@parameters('AppSecret (pre__AppSecret)')"
                }
              }
            },
            "Set_OutputVariable_1": {
              "runAfter": {
                "Stop_Stream": [
                  "Skipped",
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "269fb3bb-4acf-4479-8894-d0ca016a7da7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OutputVariable",
                "value": "Failed"
              }
            },
            "Set_OutputVariable_2": {
              "runAfter": {
                "Remove_Stream": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "c0130f1e-aa2f-4179-ad00-509117d8978f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OutputVariable",
                "value": "Failed"
              }
            }
          },
          "runAfter": {
            "AppFinalAccountName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bf2926e-1b65-4569-a06d-8be8380d20c3"
          },
          "type": "Scope"
        },
        "Update_a_row": {
          "runAfter": {
            "Close_and_remove_Stream": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4cd3732b-07ac-4cbd-b8ae-cc84fada90b8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_3",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pre__recordingses",
              "recordId": "@triggerBody()['text']",
              "item/pre__caseref": "@triggerBody()['text_1']",
              "item/pre__recordingstatus": "Error - Stream Closed"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Condition_-_Output_Failed_-_Update_DataVerse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52cab32b-ffe3-44e4-96d4-14d6dac63ed2"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Compose_-_RecordingUID_No_Hyphen": {
          "runAfter": {
            "OutputVariable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5f78ae49-f2cc-4892-935f-5971ebda507f"
          },
          "type": "Compose",
          "inputs": "@replace(variables('RecordingID'),'-','')"
        },
        "RecordingID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f887140b-9fc3-47b2-85c0-60c83f3c7ea5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecordingID",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "OutputVariable": {
          "runAfter": {
            "RecordingID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3d87a8b-5d63-4bb6-a49c-dbe280c62ded"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OutputVariable",
                "type": "string"
              }
            ]
          }
        },
        "Condition_-_Output_Failed_-_Update_DataVerse": {
          "actions": {
            "Update_a_row_-_Failed_Close_and_Remove_Stream": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4cd3732b-07ac-4cbd-b8ae-cc84fada90b8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_3",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pre__recordingses",
                  "recordId": "@triggerBody()['text']",
                  "item/pre__caseref": "@triggerBody()['text_1']",
                  "item/pre__recordingstatus": "Error - Failed to Close and Remove errored stream, please Reset Stream again."
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Update_a_row": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "expression": {
            "equals": [
              "@variables('OutputVariable')",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5347a17-563d-438f-b12c-c6dfe490256b"
          },
          "type": "If"
        },
        "AppSubscription": {
          "runAfter": {
            "Compose_-_RecordingUID_No_Hyphen": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e8cc7e1e-29f7-45e0-a9b4-aed766393f91"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppSubscription",
                "type": "string",
                "value": "@parameters('AppSubscriptionID (pre__AppSubscriptionID)')"
              }
            ]
          }
        },
        "AppResourceGroup": {
          "runAfter": {
            "AppSubscription": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8777ff0b-6344-4dfa-af0d-ab4c5735b4b8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppResourceGroup",
                "type": "string",
                "value": "@parameters('AppResourceGroup (pre__AppResourceGroup)')"
              }
            ]
          }
        },
        "AppMediaService": {
          "runAfter": {
            "AppResourceGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25f09c75-5d32-4e6d-a5af-600dab6ca87f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppMediaService",
                "type": "string",
                "value": "@parameters('AppMediaService (pre__AppMediaService)')"
              }
            ]
          }
        },
        "AppTenantID": {
          "runAfter": {
            "AppMediaService": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "affd6486-281a-487b-8084-c4dc2a497a66"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppTenantID",
                "type": "string",
                "value": "@parameters('AppTenantID (pre__AppTenantID)')"
              }
            ]
          }
        },
        "AppID": {
          "runAfter": {
            "AppTenantID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "60200cbf-49a1-40c2-b8c8-a4195dbea61c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppID",
                "type": "string",
                "value": "@parameters('AppID (pre__AppID)')"
              }
            ]
          }
        },
        "AppSecret": {
          "runAfter": {
            "AppID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8db9149-e18b-4087-9b39-9b91528d2858"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppSecret",
                "type": "string",
                "value": "@parameters('AppSecret (pre__AppSecret)')"
              }
            ]
          }
        },
        "AppFinalAccountName": {
          "runAfter": {
            "AppSecret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4156ae11-2f60-4ee6-b74a-e8b72c79bb7d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppFinalAccountName",
                "type": "string",
                "value": "@parameters('AppFinalAccountName (pre__AppFinalAccountName)')"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}