src/Workflows/RemoveStreaminErroredState-8F5320BC-3B75-EC11-8943-002248070AB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pre__sharedcommondataserviceforapps_4ea17"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5c229877-f1ef-4c9f-8d35-d4cbfc570bdf"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "BookingID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "CaseRef_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Court_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "SubscriptionID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "ResourceGroup_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "MediaService_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "TenantID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "ClientAppID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "ClientSecret_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "BookingID_Value",
                "CaseRef_Value",
                "Court_Value",
                "SubscriptionID_Value",
                "ResourceGroup_Value",
                "MediaService_Value",
                "TenantID_Value",
                "ClientAppID_Value",
                "ClientSecret_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "Terminate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "822278c4-6481-4729-85c6-49ed642b72a7"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          }
        },
        "BookingID": {
          "runAfter": {
            "Terminate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc82c281-ec76-499e-8b45-9c8d197953d9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BookingID",
                "type": "string",
                "value": "@{triggerBody()['BookingID_Value']}"
              }
            ]
          }
        },
        "CaseRef": {
          "runAfter": {
            "BookingID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad2ad5b5-0c1b-4707-8733-f2d30acb5bc4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CaseRef",
                "type": "string",
                "value": "@{triggerBody()['CaseRef_Value']}"
              }
            ]
          }
        },
        "Court": {
          "runAfter": {
            "CaseRef": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e87426d-345e-4bf9-9ddc-05c0391b83ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Court",
                "type": "string",
                "value": "@{triggerBody()['Court_Value']}"
              }
            ]
          }
        },
        "SubscriptionID": {
          "runAfter": {
            "Court": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "677b80ca-04e5-4606-942d-e0c75988660b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubscriptionID",
                "type": "string",
                "value": "@{triggerBody()['SubscriptionID_Value']}"
              }
            ]
          }
        },
        "ResourceGroup": {
          "runAfter": {
            "SubscriptionID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "220597bc-b371-4067-8129-6ba910dc994f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ResourceGroup",
                "type": "string",
                "value": "@{triggerBody()['ResourceGroup_Value']}"
              }
            ]
          }
        },
        "MediaService": {
          "runAfter": {
            "ResourceGroup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2ac6a4ab-5ac1-4082-8655-3dccda5d8e98"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MediaService",
                "type": "string",
                "value": "@{triggerBody()['MediaService_Value']}"
              }
            ]
          }
        },
        "TenantID": {
          "runAfter": {
            "MediaService": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac29512d-1518-45b6-a86c-95f250d3b75d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TenantID",
                "type": "string",
                "value": "@{triggerBody()['TenantID_Value']}"
              }
            ]
          }
        },
        "ClientAppID": {
          "runAfter": {
            "TenantID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "226640b4-2c8f-45cd-be1c-4b26e47f237c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ClientAppID",
                "type": "string",
                "value": "@{triggerBody()['ClientAppID_Value']}"
              }
            ]
          }
        },
        "ClientSecret": {
          "runAfter": {
            "ClientAppID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1b286aeb-f118-47c2-a95e-484fd914d419"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ClientSecret",
                "type": "string",
                "value": "@{triggerBody()['ClientSecret_Value']}"
              }
            ]
          }
        },
        "Close_and_remove_Stream": {
          "actions": {
            "Stop_Stream": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f079c6a6-d401-406e-871f-038e8182432b"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://management.azure.com/subscriptions/@{variables('SubscriptionID')}/resourceGroups/@{variables('ResourceGroup')}/providers/Microsoft.Media/mediaservices/@{variables('MediaService')}/liveEvents/@{variables('Court')}/stop?api-version=2020-05-01",
                "body": {
                  "removeOutputsOnStop": true
                }
              }
            },
            "Remove_Stream": {
              "runAfter": {
                "Stop_Stream": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3c1f0197-aa38-44e4-90ec-df185513d917"
              },
              "type": "Http",
              "inputs": {
                "method": "DELETE",
                "uri": "https://management.azure.com/subscriptions/@{variables('SubscriptionID')}/resourceGroups/@{variables('ResourceGroup')}/providers/Microsoft.Media/mediaservices/@{variables('MediaService')}/liveEvents/@{variables('Court')}?api-version=2020-05-01"
              }
            }
          },
          "runAfter": {
            "ClientSecret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bf2926e-1b65-4569-a06d-8be8380d20c3"
          },
          "type": "Scope"
        },
        "Update_a_row": {
          "runAfter": {
            "Close_and_remove_Stream": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4cd3732b-07ac-4cbd-b8ae-cc84fada90b8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_3",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pre__bookings",
              "recordId": "@variables('BookingID')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52cab32b-ffe3-44e4-96d4-14d6dac63ed2"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}