src-archived/Workflows/OLD_CloseAllStreams-E045284A-B16F-EC11-8943-00224842B706.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"pre__sharedcommondataserviceforapps_42299"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"bef1017d-e83b-47d3-81d4-3e77d4c6f697"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_variable_-_Subscription_ID":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"4e14ce4e-9410-419c-a401-540069d8efd5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Subscription ID","type":"string"}]}},"Initialize_variable_-_Resource_Group":{"runAfter":{"Initialize_variable_-_Subscription_ID":["Succeeded"]},"metadata":{"operationMetadataId":"a10847c8-38df-4bf6-ba7c-d47a2ae4d357"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Resource Group","type":"string"}]}},"Initialize_variable_-_Media_Service":{"runAfter":{"Initialize_variable_-_Resource_Group":["Succeeded"]},"metadata":{"operationMetadataId":"de7c53f9-d5ae-4ac7-98e7-545867c78a1e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Media Service","type":"string"}]}},"Initialize_variable_-_Tenant_ID":{"runAfter":{"Initialize_variable_-_Media_Service":["Succeeded"]},"metadata":{"operationMetadataId":"c2174034-5d1a-4c7e-ac3a-bd51a89a33a5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tenant ID","type":"string"}]}},"Initialize_variable_-_Client_App_ID":{"runAfter":{"Initialize_variable_-_Tenant_ID":["Succeeded"]},"metadata":{"operationMetadataId":"6b9596c6-ffab-4395-bf12-55468ff37c9f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client App ID","type":"string"}]}},"Initialize_variable_-_Client_Secret":{"runAfter":{"Initialize_variable_-_Client_App_ID":["Succeeded"]},"metadata":{"operationMetadataId":"d0cf8b43-5b98-4f4f-a554-8798e6e1f408"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client Secret","type":"string"}]}},"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"1e12f678-a643-4b0c-abd4-54ebe0a4e4f7"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}},"Parse_JSON":{"runAfter":{"Initialize_variable_-_Client_Secret":["Succeeded"]},"metadata":{"operationMetadataId":"a174f92e-63ba-4f83-a3cf-13f22bcef665"},"type":"ParseJson","inputs":{"content":"@variables('Client Secret')","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"location":{"type":"string"},"tags":{"type":"object","properties":{"tag1":{"type":"string"},"tag2":{"type":"string"}}},"properties":{"type":"object","properties":{"description":{"type":"string"},"resourceState":{"type":"string"},"provisioningState":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"useStaticHostname":{"type":"boolean"},"streamOptions":{"type":"array"},"input":{"type":"object","properties":{"keyFrameIntervalDuration":{"type":"string"},"streamingProtocol":{"type":"string"},"accessToken":{"type":"string"},"endpoints":{"type":"array","items":{"type":"object","properties":{"protocol":{"type":"string"},"url":{"type":"string"}},"required":["protocol","url"]}},"accessControl":{"type":"object","properties":{"ip":{"type":"object","properties":{"allow":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"subnetPrefixLength":{"type":"integer"}},"required":["name","address","subnetPrefixLength"]}}}}}}}},"preview":{"type":"object","properties":{"previewLocator":{"type":"string"},"streamingPolicyName":{"type":"string"},"alternativeMediaId":{},"accessControl":{"type":"object","properties":{"ip":{"type":"object","properties":{"allow":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"subnetPrefixLength":{"type":"integer"}},"required":["name","address","subnetPrefixLength"]}}}}}},"endpoints":{"type":"array","items":{"type":"object","properties":{"protocol":{"type":"string"},"url":{"type":"string"}},"required":["protocol","url"]}}}},"encoding":{"type":"object","properties":{"encodingType":{"type":"string"},"presetName":{},"stretchMode":{},"keyFrameInterval":{}}},"crossSiteAccessPolicies":{"type":"object","properties":{"clientAccessPolicy":{},"crossDomainPolicy":{}}},"hostnamePrefix":{},"transcriptions":{"type":"array"}}},"systemData":{"type":"object","properties":{"createdBy":{},"createdByType":{},"createdAt":{},"lastModifiedBy":{},"lastModifiedByType":{},"lastModifiedAt":{}}}},"required":["name","id","type","location","tags","properties","systemData"]}}}}}},"Apply_to_each_-_Stream":{"foreach":"@body('Parse_JSON')?['value']","actions":{"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"2420467d-3d88-4e15-8167-7d3b64f9913d"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"7db9217d-f695-4849-bc18-ea951411a98b"},"type":"Foreach"},"Compose_-_Finish":{"runAfter":{"Apply_to_each_-_Stream":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"3af81a07-3308-492c-9832-85766915adf1"},"type":"Compose","inputs":"OK"},"List_rows":{"runAfter":{"Terminate":["Succeeded"]},"metadata":{"operationMetadataId":"e91b14ef-5ae3-4d7a-9502-091a0c6f384b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"pre__recordingses","$top":1},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}