src-archived/Workflows/OLD_Stopandarchivevideo-40602959-3472-EC11-8943-002248000FB9.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d6a7bcc8-8a3c-4e7a-a26d-d07e37ed4089"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RowID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"CourtVar_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"SessionClosedUser_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["RowID_Value","CourtVar_Value","SessionClosedUser_Value"]}}}},"actions":{"RowID":{"runAfter":{"Terminate":["Succeeded"]},"metadata":{"operationMetadataId":"bfdc81c0-ca62-4dcb-91ef-7f2248754b18"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowID","type":"string","value":"@{triggerBody()['RowID_Value']}"}]}},"CourtVar":{"runAfter":{"RowID":["Succeeded"]},"metadata":{"operationMetadataId":"5edf3d8e-908c-44b1-93ea-efa6bb0ae122"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Court","type":"string","value":"@{triggerBody()['CourtVar_Value']}"}]}},"CaseRef":{"runAfter":{"CourtVar":["Succeeded"]},"metadata":{"operationMetadataId":"84280e09-c060-49f9-9559-b354fcf8ae7b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CaseRef","type":"string","value":"@{replace(triggerBody()['CaseRef_Value'], ' ', '_')}"}]}},"DateTime":{"runAfter":{"CaseRef":["Succeeded"]},"metadata":{"operationMetadataId":"2956ddde-e212-41e8-89d6-d7a15d75378d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateTime","type":"string","value":"@{replace(replace(replace(triggerBody()['DateTime_Value'], '/', ''), ' ', ''), ':', '')}"}]}},"Session_Closed_User":{"runAfter":{"DateTime":["Succeeded"]},"metadata":{"operationMetadataId":"ac528dc1-f381-45e9-a8f4-ae3bb533395e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Session Closed User","type":"string","value":"@{triggerBody()['SessionClosedUser_Value']}"}]}},"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"048d593c-01ea-4370-ab83-2b5c37e81202"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"schemaVersion":"1.0.0.0"}