src-archived/Workflows/OLD_RemoveStreaminErroredState-545C69A5-0A72-EC11-8943-002248070868.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"pre__sharedcommondataserviceforapps_62e6b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0583cd7e-4483-4351-958c-3a87a662175b"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"rowID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"CaseRef_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Court_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["rowID_Value","CaseRef_Value","Court_Value"]}}}},"actions":{"rowID":{"runAfter":{"Terminate":["Succeeded"]},"metadata":{"operationMetadataId":"bd056d00-aa0b-425a-88ec-b89e340b8bae"},"type":"InitializeVariable","inputs":{"variables":[{"name":"rowID","type":"string","value":"@{triggerBody()['rowID_Value']}"}]}},"CaseRef":{"runAfter":{"rowID":["Succeeded"]},"metadata":{"operationMetadataId":"84123f73-81f0-490e-8ef6-196e55801297"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CaseRef","type":"string","value":"@{triggerBody()['CaseRef_Value']}"}]}},"Court":{"runAfter":{"CaseRef":["Succeeded"]},"metadata":{"operationMetadataId":"b2ac116c-d5e2-4d5e-bf09-f417a5dedb08"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Court","type":"string","value":"@{triggerBody()['Court_Value']}"}]}},"Subscription_ID":{"runAfter":{"Court":["Succeeded"]},"metadata":{"operationMetadataId":"44c867aa-018b-4164-b883-1f0bcd160845"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Subscription ID","type":"string","value":"0279e2dc-776d-4b75-a1f4-8baafb2c7ce1"}]}},"Resource_Group":{"runAfter":{"Subscription_ID":["Succeeded"]},"metadata":{"operationMetadataId":"ca145135-5d78-488b-9969-4978f044733a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Resource Group","type":"string"}]}},"Media_Service":{"runAfter":{"Resource_Group":["Succeeded"]},"metadata":{"operationMetadataId":"b4db5bd2-532e-43df-a9e7-e3afe89fdb99"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Media Service","type":"string"}]}},"Tenant_ID":{"runAfter":{"Media_Service":["Succeeded"]},"metadata":{"operationMetadataId":"abc0532a-4268-4469-b1ab-a34a387f38ae"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tenant ID","type":"string"}]}},"Client_App_ID":{"runAfter":{"Tenant_ID":["Succeeded"]},"metadata":{"operationMetadataId":"ad9f3f01-a5cf-42ba-898c-22edf86fc167"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client App ID","type":"string"}]}},"Client_Secret":{"runAfter":{"Client_App_ID":["Succeeded"]},"metadata":{"operationMetadataId":"9b25db06-6bf4-4f0b-a589-cbac00cbbfa4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client Secret","type":"string"}]}},"Scope_-_Set_AMS_Variables":{"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"46f82321-4a1a-4101-8482-29313e3aafa0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"accounts"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Set_Subscription_ID":{"runAfter":{},"metadata":{"operationMetadataId":"2dc77a6f-d651-4dcf-97a4-abe432b4749a"},"type":"SetVariable","inputs":{"name":"Subscription ID","value":"tbc"}},"Set_Resource_Group":{"runAfter":{"Set_Subscription_ID":["Succeeded"]},"metadata":{"operationMetadataId":"4fada3fc-747f-49e7-8836-92eed08d79fd"},"type":"SetVariable","inputs":{"name":"Resource Group","value":"tbc"}},"Set_Media_Service":{"runAfter":{"Set_Resource_Group":["Succeeded"]},"metadata":{"operationMetadataId":"6a5997fa-add2-4350-bd83-a3f8a191b5e7"},"type":"SetVariable","inputs":{"name":"Media Service","value":"tbc"}},"Set_Tenant_ID":{"runAfter":{"Set_Media_Service":["Succeeded"]},"metadata":{"operationMetadataId":"244816b3-96aa-4b2e-8f81-64c0e15ce488"},"type":"SetVariable","inputs":{"name":"Tenant ID","value":"tbc"}},"Set_Client_App_ID":{"runAfter":{"Set_Tenant_ID":["Succeeded"]},"metadata":{"operationMetadataId":"745bd351-a3fa-4206-bde4-e7b8e0bce400"},"type":"SetVariable","inputs":{"name":"Client App ID","value":"tbc"}},"Set_Client_Secret":{"runAfter":{"Set_Client_App_ID":["Succeeded"]},"metadata":{"operationMetadataId":"5cbe3dfb-428c-4d39-be0e-e8153d218f3c"},"type":"SetVariable","inputs":{"name":"Client Secret","value":"tbc"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"534a92c5-07a7-43f7-b2b6-0aafddfa6370"},"type":"Foreach"}},"runAfter":{"Client_Secret":["Succeeded"]},"metadata":{"operationMetadataId":"0eb85062-16cd-4b78-919f-ac7c3b02386d"},"type":"Scope"},"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"822278c4-6481-4729-85c6-49ed642b72a7"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"schemaVersion":"1.0.0.0"}