src-archived/Workflows/PRE_Reporting-C3D67379-8C4C-EC11-8F8E-00224800F66E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr599_Dataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_excelonlinebusiness":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"pre__sharedexcelonlinebusiness_c5f42"},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6e57ca4e-ca67-464e-8242-0f174131c796"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Var-GetRequiredReports_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Var-GetRequiredReports_Value"]}}}},"actions":{"Var_-_Get_Required_Reports":{"runAfter":{},"metadata":{"operationMetadataId":"2ddedb11-e95d-40b1-b7a3-20ec7b0c657e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReportsRequested","type":"string","value":"@{triggerBody()['Var-GetRequiredReports_Value']}"}]}},"Var_-_Split_Requested_Reports":{"runAfter":{"Var_-_Get_Required_Reports":["Succeeded"]},"metadata":{"operationMetadataId":"6a800f7f-d2a5-4041-b09f-753f84c4c564"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSplitReqReports","type":"array","value":"@split(variables('varReportsRequested'),',')"}]}},"Apply_to_each":{"foreach":"@variables('varSplitReqReports')","actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"RSCR","actions":{"List_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"pre__bookings"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_worksheet":{"runAfter":{"List_rows":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"CreateWorksheet","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/26c6b836-086b-447e-89c6-ad7800f8aeb3","drive":"b!dLQs-m0oS0C9qHf7GLdMQofRfi3pD2tOjy3qVJElJN_BgE39U9XGSKT91I-tA8q7","file":"RSCR"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Case_2":{"case":"RCCR","actions":{}},"Case_3":{"case":"RNUID","actions":{}},"Case_4":{"case":"RC","actions":{}},"Case_5":{"case":"AC","actions":{}},"Case_6":{"case":"RD","actions":{}},"Case_7":{"case":"ERC","actions":{}},"Case_8":{"case":"EDR","actions":{}}},"default":{"actions":{}},"expression":"@items('Apply_to_each')","metadata":{"operationMetadataId":"415f73fe-c31d-4a27-8544-2048dedbaaea"},"type":"Switch"}},"runAfter":{"Var_-_Split_Requested_Reports":["Succeeded"]},"metadata":{"operationMetadataId":"4a4549d5-8435-4e2f-9183-b215177a8dce"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}